argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
conda-pack==0.6.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.6.2
decorator==5.1.1
deepsnap==0.2.1
defusedxml==0.7.1
dgl-cu101 @ dgl_cu101-0.6.0rc2-cp37-cp37m-manylinux1_x86_64.whl
easydict==1.9
entrypoints==0.4
fastjsonschema==2.16.1
fonttools==4.34.4
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1648882385539/work
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.8.0
ipykernel==6.15.1
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
k-gnn==0.0.0
kiwisolver==1.4.4
littleutils==0.2.2
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.12
numexpr @ file:///opt/conda/conda-bld/numexpr_1656940300424/work
numpy==1.21.6
ogb==1.3.3
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
outdated==0.2.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pycairo==1.21.0
pycparser==2.21
Pygments==2.12.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.18.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML==6.0
pyzmq==23.2.0
rdkit==2022.9.3
reportlab==3.5.68
requests==2.28.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.2.post1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1620077907134/work
tensorboardX==2.5.1
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
torch==1.8.0+cu111
torch-cluster @ torch_cluster-1.5.9-cp37-cp37m-linux_x86_64.whl
torch-geometric==2.0.4
torch-scatter @ torch_scatter-2.0.6-cp37-cp37m-linux_x86_64.whl
torch-sparse @ torch_sparse-0.6.10-cp37-cp37m-linux_x86_64.whl
torch-spline-conv @ torch_spline_conv-1.2.1-cp37-cp37m-linux_x86_64.whl
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3==1.26.10
wcwidth==0.2.5
webencodings==0.5.1
yacs==0.1.8
zipp==3.8.1
pqdm
